:root {
  --primary: #2f6fff;
  --primary-hover: #2462f4;
  --primary-dark: rgb(13, 78, 218);

  --red-500: #ff4d4f;
  --red-600: #ff4043;
  --blue-500: #2f6fff;
  --blue-600: #2462f4;
  --white: #ffffff;
  --black: #000000;

  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;
  --bg-color: #fafafa;

  --memory-icon: #2f6fff;
  --memory-bg: #e6f0ff;

  --battery-icon: #25c771;
  --battery-bg: #e6faf1;

  --ai-icon: #ff66df;
  --ai-bg: #fff0fc;

  --chart-icon: #ff4d4f;
  --chart-bg: #ffeaea;

  --money-icon: #fe9a00;
  --money-bg: #fff4e2;

  --effect-high: #e12226;
  --effect-high-bg: #ffebeb;
  --effect-middle: #f6a205;
  --effect-middle-bg: #fff4e2;
  --effect-low: #60a75a;
  --effect-low-bg: #e8f9e7;
}
