:root {
  --primary: #EF5350;
  --primary-hover: #E53935;
  --secondary: #FFCA28;

  --white: #FFFFFF;
  --black: #000000;
  
  --gray-100: #F5F5F5;
  --gray-200: #EEEEEE;
  --gray-300: #E0E0E0;
  --gray-400: #BDBDBD;
  --gray-500: #9E9E9E;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;
  --bg-color: #FAFAFA;
}
