@import 'tailwindcss';
@import 'features/shared/styles/fonts.css';

@theme {
  --font-sans: 'Pretendard', sans-serif;

  --color-primary: #2f6fff;
  --color-primary-hover: #2462f4;
  --color-primary-dark: #0d4eda;

  --color-memory-icon: #2f6fff;
  --color-memory-bg: #e6f0ff;
  --color-battery-icon: #25c771;
  --color-battery-bg: #e6faf1;
  --color-ai-icon: #ff66df;
  --color-ai-bg: #fff0fc;
  --color-chart-icon: #ff4d4f;
  --color-chart-bg: #ffeaea;
  --color-money-icon: #fe9a00;
  --color-money-bg: #fff4e2;

  --color-effect-high: #e12226;
  --color-effect-high-bg: #ffebeb;
  --color-effect-middle: #f6a205;
  --color-effect-middle-bg: #fff4e2;
  --color-effect-low: #60a75a;
  --color-effect-low-bg: #e8f9e7;
}

@layer base {
  html,
  body {
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-gray-900);
  }

  button,
  [role='button'],
  a {
    user-select: none;
  }

  :where(a, button, [role='button'], input, select, textarea):focus-visible {
    outline: 3px solid var(--color-primary);
  }

  body {
    background-color: var(--color-gray-50);
  }
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
